.App {
  text-align: center;
}

.App-header {
  background-image: url('../public/iphone-14-pro-max-1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
