.Hero-section {
  background-color: #80cbc4;
  padding: 100px 0;
}

.Hero-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.Hero-content h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.Hero-content p {
  font-size: 18px;
  color: #eeeeee;
}
